<div class="register-page">
    <div class="form">
        <div class="logo">
            <p>Kite</p>
        </div>
        <form class="register-form" [formGroup]="form" (ngSubmit)="registerFormSubmit()">
            
            <li *ngIf="display">{{display.message}}</li>
            <input type="text" placeholder="email"  formControlName="email" />
            <input type="text" placeholder="username" formControlName="username"  />
            <input type="password"  placeholder="password"formControlName="password"  />
            <button>Register</button>
            <p class="message">Already Have Account? <a routerLink="/login">Login Here</a></p>
        </form>
        <p *ngIf = "resp$ | async as data ">
            {{data.message}}
        </p>
        
    </div>
</div>
