<div class="dashboard">
    <div>
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
    <input type="text" [ngModel]='text' (ngModelChange)='onChange($event)' (click)="onSearch()" />
        </p-iconField>
        <ng-container *ngIf="resp$ |async as data">
            <div *ngFor="let stocks of data" class="stock">
                {{stocks.ticker}}
                {{stocks.name | slice:0:10}}
                {{stocks.currency_name}}
                <button (click)="addStock(stocks)">+</button>
            </div>
        </ng-container>
    </div>
    <st-watchlistnumber (selectedWatchlistId)="watchlistNumber($event)">

    </st-watchlistnumber>
    <div class="watchlist-stocks">
        <st-watchliststocks [watchlistNumber]="watchlistId"></st-watchliststocks>
    </div>
</div>
{{count()}}